@import 'mainPage/styles/Common_section_sidebars-menu/common.css';
@import 'mainPage/styles/Common_section_sidebars-menu/main-content.css';
@import 'mainPage/styles/Common_section_sidebars-menu/main-head.css';
@import 'mainPage/styles/Common_section_sidebars-menu/menu-lists.css';
@import 'mainPage/styles/Common_section_sidebars-menu/sidebar.css';

@import 'mainPage/styles/First_section/commonTable.css';
@import 'mainPage/styles/First_section/table-first.css';

@import 'mainPage/styles/Second_section/table-second.css';
@import 'mainPage/styles/Second_section/header-second-sect.css';

@import 'mainPage/styles/Third_section/';

rect {
    pointer-events: all;
    fill-opacity: 0;
    stroke-opacity: 0;
    z-index: 1;
}

.tooltip {
    position: absolute;
    padding: 10px;
    background-color: steelblue;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    display: none;
    opacity: .75;
}




